<body>
    <h3 style="color: #E08B76">Privacy Policy </h3>
    <p>
        <span style="color: #666666;">
            <span style="font-family: Helvetica, serif;">
                <span style="font-size: small;"> “Personal information” for purposes of this Policy means information that identifies you, such as your name,
                    phone number, or email address. CYNDY PORTER stresses its privacy and security standards to guard against
                    identity theft and provide security for your personal information. We regularly re-evaluate our privacy
                    and security policies and adapt them as necessary to deal with new challenges. We strive to maintain
                    best-practice security practices based on industry standards.
                </span>
            </span>
        </span>
    </p>
    <p>
</body>