<body>
    <h3 style="color: #E08B76">Terms and Condition </h3>
    <p>
        <span style="color: #666666;">
            <span style="font-family: Helvetica, serif;">
                <span style="font-size: small;"> This User Agreement is a contract between you and CYNDY PORTER and only applies to your use of our CYNDY
                    PORTER. This Agreement does not apply to your use of the CYNDY PORTER payments application (and its related
                    services) that is currently only available to residents in Australia.</span>
            </span>
        </span>
    </p>
    <p>
</body>