<html>

<head>
    <title>Image Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Lato', sans-serif;
        }

        .cyndu-image-section {
            margin: 20px 0px;
        }

        .cyndu-image-section img {
            width: 300px;
            height: 300px;
        }

        .color-section {
            width: 20px;
            height: 20px;
            display: block;
            text-align: center;
            color: #fff;
            font-size: 11px;
            line-height: 20px;
        }

        .color-name h4 {
            margin: 0;
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
        }


        .marginbottom {
            margin-bottom: 10px;
        }

        .color-anlysis {
            margin: 20px 0px;
        }

        .cyndy-portal-pdf {
            margin: 20px 0px;
        }

        .color-analyses-ul>li {
            list-style: none;
            display: inline-block;
            margin-right: 6px;
        }

        .color-1 {
            width: 40px;
            height: 40px;
            background: red !important;
            -webkit-print-color-adjust: exact;
        }

        .color-2 {
            width: 40px;
            height: 40px;
        }

        .color-3 {
            width: 40px;
            height: 40px;
        }


        .color-analyses-ul {
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .color-sections h4 {
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            text-transform: capitalize;
        }

        .marginbottom {
            margin-bottom: 10px;
        }


        .color-anlysis {
            margin: 20px 0px;
        }

        .cyndy-portal-pdf {
            margin: 20px 0px;
        }

        .cyndu-details-section {
            margin: 20px 0px;
        }

        .bold-hading-sec {
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="container">
            <div class="cyndy-portal-pdf">
                <div class="cundy-logo">
                    <img src="http://ec2-18-218-245-183.us-east-2.compute.amazonaws.com/assets/img/logo-dark.png" class="img-responsive center-block">
                </div>
                <div class="">


                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="cyndu-details-section">
                            <div class="details-section">
                                <p class="bold-hading-sec">Email Id</p>
                                <p class="ans-sec">
                                    test@gmail.com
                                </p>
                            </div>
                            <div class="details-section">
                                <p class="bold-hading-sec">User Name</p>
                                <p class="ans-sec">
                                    test user
                                </p>
                            </div>
                            <div class="details-section">
                                <p class="bold-hading-sec">Phone Number</p>
                                <p class="ans-sec">
                                    574575756
                                </p>
                            </div>
                            <div class="details-section">
                                <p class="bold-hading-sec">Stylist Name</p>
                                <p class="ans-sec">
                                    Cyndy
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="cyndu-image-section">
                            <img src="http://media2.bollywoodhungama.in/wp-content/uploads/2016/03/410757999.jpg" class="img-responisve">
                        </div>
                    </div>

                </div>

                <div class="color-anlysis">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row marginbottom">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="color-sections">
                                    <h4>Skin Color</h4>
                                </div>
                                <div class="color-analyse">
                                    <ul class="color-analyses-ul">
                                        <li class="color-1"></li>
                                        <li class="color-1"></li>
                                        <li class="color-1"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="color-sections">
                                    <h4>eyes</h4>
                                </div>
                                <div class="color-analyse">
                                    <ul class="color-analyses-ul">
                                        <li class="color-1"></li>
                                        <li class="color-1"></li>
                                        <li class="color-1"></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="color-sections">
                                    <h4>lips</h4>
                                </div>
                                <div class="color-analyse">
                                    <ul class="color-analyses-ul">
                                        <li class="color-1"></li>
                                        <li class="color-1"></li>
                                        <li class="color-1"></li>
                                </div>
                            </div>
                        </div>

                        <div class="row marginbottom">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="color-sections">
                                    <h4>metals</h4>
                                </div>
                                <div class="color-analyse">
                                    <ul class="color-analyses-ul">
                                        <li class="color-1"></li>
                                        <li class="color-1"></li>
                                        <li class="color-1"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="color-sections">
                                    <h4>reds</h4>
                                </div>
                                <div class="color-analyse">
                                    <ul class="color-analyses-ul">
                                        <li class="color-1"></li>
                                        <li class="color-1"></li>
                                        <li class="color-1"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="color-sections">
                                    <h4>accent Colors</h4>
                                </div>
                                <div class="color-analyse">
                                    <ul class="color-analyses-ul">
                                        <li class="color-1"></li>
                                        <li class="color-1"></li>
                                        <li class="color-1"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row marginbottom">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="color-sections">
                                    <h4>neutrals</h4>
                                </div>
                                <div class="color-analyse">
                                    <ul class="color-analyses-ul">
                                        <li class="color-1"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="color-sections">
                                    <h4>wow Colors</h4>
                                </div>
                                <div class="color-analyse">
                                    <ul class="color-analyses-ul">
                                        <li class="color-1"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="color-sections">
                                    <h4>colors to Avoid</h4>
                                </div>
                                <div class="color-analyse">
                                    <ul class="color-analyses-ul">
                                        <li class="color-1"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>

</html>